body, html {scroll-behavior: smooth;}
body * {transition: all 0.3s; overflow: hidden;}
#wrap {min-height: 100vh;}

#wrap header {
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;
    max-width: 100%; min-width: 340px; overflow: hidden; margin: 0 auto; position: relative;
    background: url(../images/row1.png) no-repeat center / cover;
    width: 100%; height: 920px;
}
#wrap header .menu {
    display: flex; justify-content: space-between; align-items: center; 
    width: 100%; height: 90px; padding: 15px 60px; position: relative;
    z-index: 1;
}
#wrap header .menu .logo {}
#wrap header .menu .logo a {}
#wrap header .menu .logo a img {}
#wrap header .menu nav {
    display: flex; gap: 30px; height: 90px; align-items: center;
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: max-content;
}
#wrap header .menu nav a {height: 100%; line-height: 90px; color: #fff; font-weight: 500;}
#wrap header .menu .right_menu {display: flex; gap: 15px;}
#wrap header .menu .right_menu a {}
#wrap header .menu .right_menu a img {}