/* 1행======================================================================= */
#wrap header .row1 h1 {
    font-size: 3.75rem; font-weight: 500; color: #fff;
    text-align: center;
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
}

/* 2행======================================================================= */
#wrap main .row2 {width: 100%;}
#wrap main .row2 .container {
    max-width: 1280px; min-width: 340px; overflow: hidden; margin: 0 auto; padding: 160px 0 80px;
    display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-between; gap: 60px;
}
#wrap main .row2 .container * {line-height: 1.3;}
#wrap main .row2 .container .top {
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; height: 800px; 
}
#wrap main .row2 .container .top .left {display: flex; flex-flow: column nowrap; align-items: flex-start; justify-content: space-between; gap: 15px;}
#wrap main .row2 .container .top .left p:nth-of-type(1) {color: #0082FE; font-size: 2.5rem;}
#wrap main .row2 .container .top .left h1 {font-size: 2.5rem;}
#wrap main .row2 .container .top .left p:nth-of-type(2) {font-size: 1.125rem;}
#wrap main .row2 .container .top .right {
    background: url(../images/row2-1.png) no-repeat center / cover; border-radius: 20px;
    width: 520px; height: 100%;
}
#wrap main .row2 .container .bottom {
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; height: 800px;
}
#wrap main .row2 .container .bottom .left {
    background: url(../images/row2-2.png) no-repeat center / cover; border-radius: 20px;
    width: 630px; height: 100%; 
}
#wrap main .row2 .container .bottom .right {}
#wrap main .row2 .container .bottom .right p:nth-of-type(1) {color: #0082FE; font-size: 2.5rem;}
#wrap main .row2 .container .bottom .right h1 {font-size: 2.5rem;}
#wrap main .row2 .container .bottom .right p:nth-of-type(2) {font-size: 1.125rem;}

/* 3행======================================================================= */
#wrap main .row3 {width: 100%;}
#wrap main .row3 .container {max-width: 1520px; min-width: 340px; overflow: hidden; margin: 0 auto; padding: 80px 0;}
#wrap main .row3 .container h1 {
    background: url(../images/row3.png) no-repeat center / cover; border-radius: 20px;
    width: 100%; height: 900px;
    display: flex; align-items: center; justify-content: center;
    font-size: 3rem; font-weight: 500; line-height: 1.3; text-align: center; color: #fff;
}

/* 4행======================================================================= */
#wrap main .row4 {width: 100%;}
#wrap main .row4 .container {
    max-width: 100%; min-width: 340px; overflow: hidden; margin: 0 auto; padding: 80px 0;
}
#wrap main .row4 .container * {color: #fff; line-height: 1.3;}
#wrap main .row4 .container .contents {
    background: #2B313F; width: 100%; height: 600px;
    display: flex;
}
#wrap main .row4 .container .contents .right {
    margin: 0 auto;
    width: 1200px; height: 600px; padding: 30px;
    display: flex; flex-flow: column nowrap; gap: 100px; justify-content: flex-end;
    background: url(../images/row4.png) no-repeat; background-position: 0% 64px;
}
#wrap main .row4 .container .contents .right div {
    width: 100%;
    display: flex; flex-flow: column nowrap; gap: 30px; justify-content: flex-end; align-items: flex-end;
}
#wrap main .row4 .container .contents .right div p {width: 500px;}
#wrap main .row4 .container .contents .right div p:nth-of-type(1) {font-size: 1.875rem; font-weight: 500;}
#wrap main .row4 .container .contents .right div p:nth-of-type(2) {font-size: 1.25rem; font-weight: 600;}
#wrap main .row4 .container .contents .right .btn {display: flex; justify-content: flex-end; align-items: flex-end;}
#wrap main .row4 .container .contents .right .btn .more {
    width: 36px; height: 36px; border-radius: 50%;
    background: #fff; display: flex; align-items: center; justify-content: center;
}

/* 5행======================================================================= */
#wrap main .row5 {}
#wrap main .row5 .container {
    max-width: 1600px; min-width: 340px; overflow: hidden; margin: 0 auto; padding: 80px 0;
}
#wrap main .row5 .container h1 {}
#wrap main .row5 .container .contents {}
#wrap main .row5 .container .contents dl {}
#wrap main .row5 .container .contents dl dt {}
#wrap main .row5 .container .contents dl dd {}
#wrap main .row5 .container .contents .right {}
#wrap main .row5 .container .contents .right h2 {}
#wrap main .row5 .container .contents .right p {}
#wrap main .row5 .container .contents .right .btn  {}
#wrap main .row5 .container .contents .right .btn a {}
#wrap main .row5 .container .contents .right .btn a img {}